
*{
    margin: 0;
    padding: 0;
}

.main-look{
    width: 200%;
    height: 200%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pexels-pnw-production-8995682.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.ucapan{
    width: 1200px;
    height: 90px;
    margin: auto;
    color: rgb(44, 158, 252);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
    padding-position: center;
}

.ucapan2{
    width: 1200px;
    height: 120px;
    margin: auto;
    color: rgb(44, 158, 252);
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    margin-top: 15px
    padding-position: center;
}
